<body>
    <div class="navstyle">
        <nav>
            <div class="headlogo">
                <img class ="headerlogo" src="../assets/image/foodeelogo.png" alt="">
            </div>
            <ul class="menuclass">
                <li><a href="#food-container"> Browse Food </a></li>
                <li><a routerLink='/blog'> Blog </a></li>
                <li><a href="#cooking-tip-container"> Cooking Guide </a></li>
                <li><a href="#"> Account </a></li>
            </ul>
        </nav>
    </div>
    <div class="background-slideshow">
        <div id="slideshow-container">
            <div id="sliderbox">
                <img src="../assets/image/foodee.jpg">
                <img src="../assets/image/burgerslashprice.png">
                <img src="../assets/image/losangelespromo.jpg">
                <img src="../assets/image/icecreampromo.jpg">
            </div>
        </div>
    </div>
        <div id="food-container">
            <div class="food-grid">
                <h1 class="foodcontainer-header"> FOOD COLLECTION </h1>
                <ul class="food-container-list">
                    <li>
                        <div class="foodbox">
                            <div class="foodcontainer1">
                                <img src="../assets/image/meal1.jpg" style="border-radius: 25px; border-bottom-left-radius: 0px; border-bottom-right-radius: 0px">
                                <br><a><h4 style="word-wrap:initial;">Seasoned Crab garnished with sliced tomatoes</h4></a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="foodbox">
                            <div class="foodcontainer2">
                                <img src="../assets/image/meal2.jpg" style="border-radius: 25px; border-bottom-left-radius: 0px; border-bottom-right-radius: 0px">
                                <br><h4 style="word-wrap:initial;">Jollof rice and chicken with side dish: plantain</h4>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="foodbox">
                            <div class="foodcontainer3">
                                <img src="../assets/image/meal3.jpg" style="border-radius: 25px; border-bottom-left-radius: 0px; border-bottom-right-radius: 0px">
                                <br><h4 style="word-wrap:initial;">Bolognese garnished with lime and sliced tomatoes</h4>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="foodbox">
                            <div class="foodcontainer4">
                                <img src="../assets/image/meal5.jpg" style="border-radius: 25px; border-bottom-left-radius: 0px; border-bottom-right-radius: 0px">
                                <br><h4 style="word-wrap:initial;">Pizza with pepperoni and sliced olive toppings</h4>
                            </div>
                        </div>
                    </li>
                </ul>
        </div>
        </div>
    <div id="cooking-tip-container">
        <div class="cooking-tip-grid">
            <h1 class="cookingtip-header">
                COOKING GUIDE 
            </h1>
            <ul class="cooking-tip-list">
            <li>
                <div class="cooking-tip-box">
                    <div class="cooking-tip-container1">
                        <video width="320px" height="400px" controls>
                            <source src="../assets/videos/How to Cook Chicken_ Easy Chicken Recipes for Dinner.mp4">
                        </video>
                        <h6> How to cook chicken: Easy chicken recipes for dinner </h6>
                    </div>
                </div>
            </li>
            <li>
                <div class="cooking-tip-box">
                    <div class="cooking-tip-container2">
                        <video width="320px" height="400px" controls>
                            <source src="../assets/videos/10 Incredibly Useful Cooking Tips - Gordon Ramsay.mp4">
                        </video>
                        <h6>10 Incredible useful cooking tips - Gordon Ransay </h6>
                    </div>
                </div>
            </li>
            <li>
                <div class="cooking-tip-box">
                    <div class="cooking-tip-container3">
                        <video width="320px" height="400px" controls>
                            <source src="../assets/videos/6 Fun Cooking Tricks.mp4">
                        </video>
                        <h6>6 Fun Cooking Tricks</h6>
                    </div>
                </div>
            </li>
            </ul>
        </div>
    </div>
    <footer style="background: rgb(121, 7, 7);">
        <h3 style="text-align: center; color: rgba(0,0,0,0.75); font-family: Arial, Helvetica, sans-serif; margin-top: 1px;"> Tomisin's inc</h3>
    </footer>
</body>
<router-outlet></router-outlet>
